body {
    font-family: Arial, sans-serif;
}

.navbar-nav .nav-link {
    font-weight: bold;
    color: #333;
}


.navbar-nav .nav-link.active {
    color: #5023f3cf;
}

.profile-img {
    max-width: 250px;
    height: auto;
    margin-top: 20px;
}

footer {
    text-align: center;
    margin-top: 100px;
    background-color: #5023f3cf;
}
